.navigation {
    display: flex;
    justify-content: center;
    gap: 10px;
}
.active button {
    background-color: transparent;
    border: 1px solid #ff0070;
    padding: 0px 13px;
    width: 70px;
    height: 26px;
}

button {
    background-color: transparent;
    padding: 0px 13px;
    width: 70px;
    height: 26px;
    border: none;
}


