@font-face {
    font-family: 'IBM Plex Mono';
    src: url('./fonts/IBMPlexMono-Regular.ttf');
    font-weight: normal;
}

@font-face {
    font-family: 'IBM Plex Mono';
    src: url('./fonts/IBMPlexMono-Bold.ttf');
    font-weight: bold;
}

body {
    font-size: 18px;
    margin: 0 auto;
    width: 1024px;
    font-family: "IBM Plex mono", "monospace";
    color: #DB00FF;
    background-color: #000028;
}


header {
    display: grid;
    grid-template-rows: 1fr auto;
    position: relative;
    padding: 20px;
    background-image: url("image/Decorations.svg"), url("image/cover-image-dark.png");
}

.html {
    box-sizing: border-box;
}

nav {
    display: flex;
    gap: 10px;
    flex-direction: row;
    justify-content: center;
}

button {
    font-size: 18px;
    line-height: 18px;
    height: 26px;
    padding: 0 13px;
    border: 0;
    color: #ff0070;
    background-color: transparent;
    cursor: pointer;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

button:hover {
    border: 1px solid #FF0070;
}


.rec {
    position: absolute;
    right: 27px;
    top: 20px;
    color: #ff0070;
}

h1 {
    margin: 0;
}

h2 {
    margin: 0;
}

h3 {
    margin: 0;
}

h4 {
    margin: 0;
}

p {
    margin: 0;
}

.rec .html {
    display: inline-block;
    box-shadow: 0 0 5px #ff0070;
    margin-inline-start: 10px;
    border-radius: 50%;
    width: 12px;
    height: 12px;
    background-color: #ff0070;
}


.Nofocus {
    display: flex;
    flex-direction: column;
    gap: 114px;
    padding: 274px 0 116px;
}

.Nofocustext {
    display: flex;
    font-weight: 700;
    font-size: 157px;
    line-height: 129.53px;
    text-shadow: 4px 4px 0 #ff0070;
    margin-inline-start: -20px;
    
}

.chtodelat {
    display: flex;
    align-self: flex-end;
    justify-content: end;
    font-size: 18px;
    background-size: cover;
    width: 491px;
    margin: auto 0;
    line-height: 23.4px;
    font-weight: 700;
    color: #000028;
    background-color: #ff0070;
}


main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-inline: 20px;
    padding-block: 60px;
    gap: 80px;
}

.main-header {
    row-gap: 15px;
}

section {
    display: grid;
    gap: 20px;
}

section h2 {
    font-size: 18px;
    font-weight: 700;
    color: #ff0070;
}

.main-pochemuslozhno {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.zagolovok {
    justify-content: end;
    background-size: cover;
    font-weight: 700;
    font-size: 18px;
    color: #000028;
    background-color: #ff0070;
}

.main-text {
    font-size: 18px;
    font-family: "IBM Plex mono", "monospace";
    font-weight: 400;
    line-height: 23.4px;
    color: #f1b2ce;
}

.main-soveti {
    font-weight: 400;
    background-color: #ff0070;
    margin-block-start: 20px;
    line-height: 23.4px;
    font-size: 18px;
    color: #000028;
    background-color: #ff0070;
}
























